section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title__text We are added our major Services
        
        ul.about__list
            li.about__item
                .icon.icon-book
                h3.about__header WEB & INTERACTIVE DESIGN
                p.about__description Exceptional websites and app experiences are a blend of the right message and the right technology. Our interactive design approach focuses on usability, impact, and achieving results.

            li.about__item
                .icon.icon-like
                h3.about__header BRANDING & CIRCUMSPECT STRATEGY
                p.about__description Whether a new or established business or organization, you can look to us to best articulate who you are, what you do, and most importantly, why any of it matters – beautifully.

            li.about__item
                .icon.icon-message
                h3.about__header WEB & APPLICATION DEVELOPMENT
                p.about__description The best-planned experience is wasted without a top-notch implementation. We craft supremely functional websites and applications engineered for stability, performance, and long-term adaptability.
