section.approach
    .container
        .title.title--with-bottom-line
            h2.title__header Our Approach
            .title__text Check Our approaches step by step (how we do it)
            
        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="images/step-1.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Heading Here
                    p.approach__description We’ve created award-winning experiences and respected brands for scrappy startups and Fortune 500 companies alike. Big picture vision meets serious detail-sweating at every point of a project.
            li.approach__item
                .approach__image
                    img.approach__picture(src="images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Heading Here
                    p.approach__description We’ve created award-winning experiences and respected brands for scrappy startups and Fortune 500 companies alike. Big picture vision meets serious detail-sweating at every point of a project.
            li.approach__item
                .approach__image
                    img.approach__picture(src="images/step-3.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Heading Here
                    p.approach__description We’ve created award-winning experiences and respected brands for scrappy startups and Fortune 500 companies alike. Big picture vision meets serious detail-sweating at every point of a project.
            li.approach__item
                .approach__image
                    img.approach__picture(src="images/step-4.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Heading Here
                    p.approach__description We’ve created award-winning experiences and respected brands for scrappy startups and Fortune 500 companies alike. Big picture vision meets serious detail-sweating at every point of a project.
