.contacts
    a.contact(href="tel:+380999659909")
        i.fa.fa-phone.contact__icon(aria-hidden="true")
        span.contact__text +38 099 965 99 09
    
    a.contact(href="mailto:amonglinks@gmail.com")
        i.fa.fa-envelope.contact__icon(aria-hidden="true")
        span.contact__text amonglinks@gmail.com
    
    a.facebook-icon(href="https://www.facebook.com" target="_blank")
        i.fa.fa-facebook-square(aria-hidden="true")
