nav
    ul.nav
        .burger
            .burger__line
            .burger__line
            .burger__line
        li.nav__link: a.nav__refer(href="#") Home
        li.nav__link: a.nav__refer(href="#") About us
        li.nav__link: a.nav__refer(href="#") Our approach
        li.nav__link: a.nav__refer(href="#") Our work
